* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.left-navigation .burger {
  width: 50px;
  height: 50px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 10px 0 0 20px;
}

/* searchbar style */
.search-bar-input {
  width: 70%;
  height: 100%;
  font-size: 20px;
}

.search-bar {
  width: 200px;
  height: 40px;
  background-color: #ffc93c;
  position: absolute;
  right: 0px;
  top: 70px;
  z-index: 9999;
  display: none;
  padding: 20px;
  border-radius: 20px;
}

/* searchbar style */

/* burger lines */
.line {
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 3px;
  border-radius: 10px;
}
/* burger lines */

/* navigation bar */
nav {
  background-color: #0081c9;
  position: relative;

  display: flex;
  justify-content: space-between;
}

/* navigation divided to two parts left and right nav left nav consists of company name and burger and right nav consists of three things */
.left-navigation .company-name {
  font-size: 35px;
  color: white;
  padding: 15px;
}

/* .navbar {
} */

/* we use checkbox for opening and closing the menu  */
/* .checkbox-hack {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
} */

.left-navigation {
  display: flex;
}

.right-navigation ul li {
  list-style: none;
  font-size: 20px;
  padding: 25px;
  color: white;
}
.right-navigation ul li:hover {
  cursor: pointer;
}

.right-navigation ul {
  display: flex;
}

/* side nav which opens only when we press the visible hamburger and that is named as class with sidenav  */

nav .side-nav {
  position: absolute;
  width: 25vw;
  height: 100vh;
  background-color: #ffc93c;
  left: -90vh;
  transition: 1s;
  z-index: 999;
  display: block;
}

.side-nav ul li {
  font-size: 20px;
  color: black;
  margin: 30px;
  list-style: none;
  font-weight: 500;
}

.side-nav .close-side-nav {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  /* background-color: blue; */
  padding-top: 20px;
}

/* for closing the side navgation bar we should have icon that is cross symbol  */

.side-nav .close-side-nav .line:nth-child(2) {
  transform-origin: center;
  transform: rotate(45deg);
}
.side-nav .close-side-nav .line:nth-child(3) {
  transform-origin: center;
  transform: rotate(-45deg);
  margin-top: -8px;
}

#burger-checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#sidenav-close-checkbox {
  position: absolute;
  top: -2px;
  width: 120%;
  height: 120%;
  opacity: 0;
  z-index: 99;
}

#burger-checkbox:hover,
#sidenav-close-checkbox:hover {
  cursor: pointer;
}

.min-width-display {
  display: none;
}

/* we put the whole news within the container  */

.news-container {
  padding: 10px;
  background-color: rgb(205, 184, 157);
  /* background-color: rgb(164, 246, 255); */
  border-radius: 20px;
  margin: 10px 20px 70px 20px;
  box-shadow: 5px 5px 30px 5px rgb(92, 84, 74);
  border: 2px solid black;
}

img:hover {
  cursor: pointer;
}

.news-heading {
  font-size: 30px;
  margin: 10px;
}
.news-information {
  margin: 10px;
}
.subheading {
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0 20px 0;
}

p {
  padding: 5px;
  font-size: 17px;
  font-weight: 300;
  /* color: white; */
}

.news-information-image {
  width: 100%;
  height: 100%;
  /* margin: 20px 0 20px 37px; */
  border-radius: 20px;
}

/* the right section combines of the likes ,share and the image present in it  */
.right-section {
  width: 350px;
  height: 250px;
  /* background-color: blue; */
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

/* the likes section describes the bottom of the image part that is the icons with like dislike and share instead of star we can keep any icon */
.likes-section {
  width: 100%;
  height: 40px;
  /* background-color: lime; */
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  box-sizing: border-box;
  padding-top: 10px;
}

/* styling the links that are present in the middle of the paragraph */
.middle-link {
  color: #3c79f5;
  text-decoration: none;
  font-weight: 500;
}

.sidenav-list-container {
  width: 100%;
  height: auto;
  /* background-color: red; */
  margin: 80px 0 0 20px;
}

/* the live blinking icon present in the navbar  */
.live {
  width: 25px;
  height: 25px;
  animation: live 1s infinite;
  filter: grayscale(100%);
  animation: live infinite 1s;
  box-shadow: 5px 5px 5px 2px red, inset 5px 5px 10px red;
  border-radius: 6px;
  margin-top: -10px;
}

/* this is the animation for live blinking button  */
@keyframes live {
  0% {
    filter: grayscale(100%);
  }
  50% {
    filter: grayscale(00%);
  }
  70% {
    filter: grayscale(50%);
  }
  100% {
    filter: grayscale(100%);
  }
}

/* the marquee scroll; for the things that are going from left to right  */
.top-stories {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* this is the label that is present at the left of the marquee  */
.top-stories-label {
  color: white;
  margin-left: 40px;
  font-weight: bold;
}

/* the items that are present in the marquee  */
.scroller-items {
  color: white;
  background-color: #0081c9;
  margin: 0 20px 0 20px;
  /* border-radius: 100px; */
  font-size: 15px;
  padding: 20px;
}

.money .money-unit {
  font-weight: bold;
}

#search-bar-min {
  position: absolute;
  bottom: 5px;
  top: 550px;
}

.scroll-link {
  text-decoration: none;
  color: white;
}

.money {
  color: #fb2576;
  font-weight: 500;
  text-decoration: none;
}

/* media queries for mobile view  */
@media only screen and (max-width: 720px) {
  .left-navigation .company-name {
    font-size: 30px;
    color: white;
    padding: 15px;
  }

  .side-nav ul li {
    font-size: 15px;
    color: black;
    margin: 30px;
    list-style: none;
  }
  .right-navigation {
    display: none;
  }
  .min-width-display {
    display: block;
  }
  nav .side-nav {
    width: 35vh;
  }
}

@media only screen and (max-width: 720px) and (min-width: 520px) {
  .right-section {
    width: 250px;
    height: 200px;
  }
}

@media only screen and (max-width: 520px) {
  .right-section {
    width: 200px;
    height: 150px;
    margin: 10px;
    float: none;
  }
}

@media only screen and (max-width: 597px) and (min-width: 520px) {
  .left-navigation .company-name {
    font-size: 30px;
    color: white;
    padding: 15px;
  }
  .right-navigation ul li {
    list-style: none;
    font-size: 17px;
    padding: 20px;
  }
}
